---
import Layout from "../layouts/Layout.astro";

export const getStaticPaths = () => [
  { params: { name: "world" } },
  { params: { name: "astro" } },
  { params: { name: "莫" } },
];

const { name } = Astro.params;
---

<Layout title={`你好，${name}`}>
  <h1>你好，{name}士劫</h1>
</Layout>
