---
import Layout from '../layouts/Layout.astro'
---

<Layout title="欢迎来到blog-关于此站" path="/about">
  <h1>介绍</h1>
  <h1>关于此站</h1>
  <h2>吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦...</h2>

  <p>时代少年团，我们喜欢你。</p>
  <img
    src="https://cdnjson.com/images/2024/07/19/99d113ffdbf14735adf77e7bd8e9b059.png"
    alt="时代少年团，我们喜欢你。"
    class="w-[532px] h-[314px]"
  />
</Layout>
