---
import Layout from "../layouts/Layout.astro";
---

<Layout title="欢迎来到blog-关于此站">
  <a href="/">回到首页</a>
  <a href="/blog">博客1</a>
  <h1>介绍</h1>
  <h1>关于此站</h1>
  <h2>吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦...</h2>

  <p>时代少年团，我们喜欢你。</p>
</Layout>
