---
import SiteHeader from '../components/SiteHeader.vue'
import 'tailwindcss/tailwind.css'
import '../assets/style/public.css'
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string
  date: string
  desc: string
  cover: string
  tags: string[]
}>
const { frontmatter, url } = Astro.props
---

<script>
  import { documentVisibleChange } from '../utils/tools'
  documentVisibleChange()
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="博客文章" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <SiteHeader client:load path={url} />
    <div class="w-[1200px] mx-auto pt-[80px] min-h-[110vh] mb-[50px]">
      <h1 class="text-4xl font-bold mb-4 text-center">{frontmatter.title}</h1>
      <div id="content" class="no-preflight">
        <slot />
      </div>
    </div>
    <!-- <LiveComponent client:load /> -->

    <script>
      window.onload = () => {
        document
          .querySelector('#content')
          ?.querySelectorAll('a')
          .forEach((a) => {
            a.href && a.href.startsWith('http') && (a.target = '_blank')
          })
      }
    </script>

    <style is:inline>
      #content pre.astro-code {
        padding: 20px;
      }
    </style>
  </body>
</html>
