---
// import LiveComponent from "../components/LiveComponent.vue";
import SiteHeader from "../components/SiteHeader.vue";
import "element-plus/dist/index.css"
import "tailwindcss/tailwind.css";
interface Props {
  title: string;
  path: string;
}

const { title, path } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <SiteHeader client:load path={path} />
    <div class="w-[1200px] mx-auto pt-[80px] min-h-[110vh]">
      <slot />
    </div>
    <!-- <LiveComponent client:load /> -->
  </body>
</html>
